@import "tailwindcss";



::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.03);
}

::-webkit-scrollbar-thumb {
  background: #00D3F3;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 211, 238, 1);
}


